@import '../styles/global';
@import '../widgets/widgets';



html, body, #app {
  padding: {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right:       0!important;
  }
  margin: {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right:       0!important;
  }
}