doctype html
html
  head
    title Dashboard
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content="width=device-width, initial-scale=1.0, user-scalable=no")
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='msapplication-tap-highlight', content='no')
    link(rel="manifest", href=`/public/manifest/${manifestType}.json`)
  body
    div(id='app')
    script.
      window.__APP_STATE__ = !{state};

    script(src='http://192.168.1.10:9001/vendors.js')
    script(src='http://192.168.1.10:9001/global.js')
    script(src='http://192.168.1.10:9001/dashboard.js')

