doctype html
html
  head
    title DashboardEditor
    meta(charset='utf-8')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='msapplication-tap-highlight', content='no')
    link(href='/css/editor.css' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet')




  body
    div(id='app')
    script.
      window.__APP_STATE__ = !{state};
    script(src='vendors.js')
    script(src='js/editor.js')
