.primary-font-size-12 {  .widget-label-primary { font-size:  12px!important;}}
.primary-font-size-13 {  .widget-label-primary { font-size:  13px!important;}}
.primary-font-size-14 {  .widget-label-primary { font-size:  14px!important;}}
.primary-font-size-15 {  .widget-label-primary { font-size:  15px!important;}}
.primary-font-size-16 {  .widget-label-primary { font-size:  16px!important;}}
.primary-font-size-17 {  .widget-label-primary { font-size:  17px!important;}}
.primary-font-size-18 {  .widget-label-primary { font-size:  18px!important;}}
.primary-font-size-19 {  .widget-label-primary { font-size:  19px!important;}}
.primary-font-size-20 {  .widget-label-primary { font-size:  20px!important;}}
.primary-font-size-21 {  .widget-label-primary { font-size:  21px!important;}}
.primary-font-size-22 {  .widget-label-primary { font-size:  22px!important;}}
.primary-font-size-23 {  .widget-label-primary { font-size:  23px!important;}}
.primary-font-size-24 {  .widget-label-primary { font-size:  24px!important;}}
.primary-font-size-25 {  .widget-label-primary { font-size:  25px!important;}}


.secondary-font-size-12 {  .widget-label-secondary { font-size:  12px!important;}}
.secondary-font-size-13 {  .widget-label-secondary { font-size:  13px!important;}}
.secondary-font-size-14 {  .widget-label-secondary { font-size:  14px!important;}}
.secondary-font-size-15 {  .widget-label-secondary { font-size:  15px!important;}}
.secondary-font-size-16 {  .widget-label-secondary { font-size:  16px!important;}}
.secondary-font-size-17 {  .widget-label-secondary { font-size:  17px!important;}}
.secondary-font-size-18 {  .widget-label-secondary { font-size:  18px!important;}}
.secondary-font-size-19 {  .widget-label-secondary { font-size:  19px!important;}}
.secondary-font-size-20 {  .widget-label-secondary { font-size:  20px!important;}}
.secondary-font-size-21 {  .widget-label-secondary { font-size:  21px!important;}}
.secondary-font-size-22 {  .widget-label-secondary { font-size:  22px!important;}}
.secondary-font-size-23 {  .widget-label-secondary { font-size:  23px!important;}}
.secondary-font-size-24 {  .widget-label-secondary { font-size:  24px!important;}}
.secondary-font-size-25 {  .widget-label-secondary { font-size:  25px!important;}}

.primary-font-weight-normal {  .widget-label-primary { font-weight: normal!important;}}
.primary-font-weight-bold   {  .widget-label-primary { font-weight: bold!important;}}
.primary-font-weight-bolder {  .widget-label-primary { font-weight: bolder!important;}}
.primary-font-weight-200    {  .widget-label-primary { font-weight: 200!important;}}
.primary-font-weight-300    {  .widget-label-primary { font-weight: 300!important;}}
.primary-font-weight-400    {  .widget-label-primary { font-weight: 400!important;}}
.primary-font-weight-500    {  .widget-label-primary { font-weight: 500!important;}}
.primary-font-weight-600    {  .widget-label-primary { font-weight: 600!important;}}
.primary-font-weight-700    {  .widget-label-primary { font-weight: 700!important;}}
.primary-font-weight-800    {  .widget-label-primary { font-weight: 800!important;}}

.secondary-font-weight-normal {  .widget-label-secondary { font-weight: normal!important;}}
.secondary-font-weight-bold   {  .widget-label-secondary { font-weight: bold!important;}}
.secondary-font-weight-bolder {  .widget-label-secondary { font-weight: bolder!important;}}
.secondary-font-weight-200    {  .widget-label-secondary { font-weight: 200!important;}}
.secondary-font-weight-300    {  .widget-label-secondary { font-weight: 300!important;}}
.secondary-font-weight-400    {  .widget-label-secondary { font-weight: 400!important;}}
.secondary-font-weight-500    {  .widget-label-secondary { font-weight: 500!important;}}
.secondary-font-weight-600    {  .widget-label-secondary { font-weight: 600!important;}}
.secondary-font-weight-700    {  .widget-label-secondary { font-weight: 700!important;}}
.secondary-font-weight-800    {  .widget-label-secondary { font-weight: 800!important;}}