@import 'variables';

.left-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.95);
  //padding: $pt-grid-size/2 $pt-grid-size;
  padding-top: 10px;

}

.button {


}
.left-panel {
  h2, h3, h4, h6 {
    margin-bottom: 0 !important;
  }
}


.title-row-container {


  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  margin-bottom: 0;
  padding: {
    left: 5px;
    right: 5px;

  }

  .title-edit {
    width: 70%;
    display: flex;
    align-content: flex-start;


  }
}



.dashboard-editor-title {
  margin-bottom: 5px;

}

.dashboard-editor-deviceType {
  margin-bottom: 3px;
}

.button-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
.dashboard-editor-buttons {

  display: flex;
  justify-content: space-around;


}


.title-settings-panel {
  cursor: move!important;
}

.settings-row {
  cursor: default;
  padding: 5px 5px 5px 5px;
  border-bottom-color: white!important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 12px!important;
  select,
  input,
  option {
    font-size: inherit!important;
    text-align: right!important;
  }
  input {
    padding-right: 5px!important;
  }
}

.settings-row.first {
  margin-top: 5px;
  border-top-color: white!important;
  border-top-style: solid;
  border-top-width: 1px;

}