.switch-widget {
  line-height: 1.25em;
  .title-container {
    font-weight: bold;
    line-height: 1.2em;
    padding: {
      left:   1rem;
      right:  1rem;
    }

  }
  .switch-container {
    margin-top: 0.35em;

  }

}